<h1><%= @merchant.name %></h1>

<% @invoices.each_with_index do |invoice, index|%>
  <li id="invoice-<%= index + 1%>">
    Invoice #<%= link_to invoice.id, merchant_invoice_path(invoice.id) %>
  </li>
<% end %>
