<h1>Discounts</h1>
<%= link_to "New Discount", new_merchant_discount_path(params[:merchant_id]) %>
<ul><% @discounts.each do |discount| %>
  <li><%= "#{discount.percentage}% off orders of #{discount.threshold} or more" %>
    <%= button_to "View Details", discount_path(discount), method: :get%></li>
  <% end %>
</ul>
