/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
* {
  margin:0;
  padding:0;
}
nav {
  .nav-item {
    color: white;
    margin-top: 10px;
    margin-right: 50px;
  }
  .btn-light {
    border-radius: 50%
  }
  #navbar-text {
    color: white;
    font-size: 18px;
  }
  #logo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid red;
  }
}
.main-nav {
  height: 90px;
  position: absolute;
}
html,
body {
  height: 100%;
}
.main {
  min-height: 100%;
}
.content {
  overflow: auto;
  padding-bottom: 120px;
  padding-top: 150px;
}
footer {
  color: white;
  height: 100px;
  position: relative;
  margin-top: -100px;
  clear: both;
  h4 {
    font-size: 18px;
    margin: 3px;
  }
  h5, li, span {
    font-size: 14px;
    margin: 2px;
  }
  #contributors {
    column-count: 4;
  }
  #gh-link {
    color: white
  }
}
table {
  border: 1px solid lightslategray;
  border-collapse: collapse;
  text-align: center;
}
.item {
  border: 1px solid black;
  padding: 30px;
  border-radius: 10px;
}
h1 {
  padding-top: 15px;
  text-align: center;
}
tr:nth-child(even) {background-color: #c4e3ed}

td {
  border-left: 1px solid  lightslategray
}
.theader {
  background-color: lightslategray;
  font-size: 110%;
}
.total {
  font-weight: bold;
  font-size: 115%;
  border: 1px solid lightslategray;
  background-color: #c4e3ed;
  text-align: right;
}
#merchant-header {
  z-index: 1;
  position:absolute;
  display: block;
  padding-top:110px;
  width: 100%;
  background-color: lightgray;
}
